menu "ZSW Application"
    module = ZSW_APP
    module-str = "ZSW Application"
    source "subsys/logging/Kconfig.template.log_config"

    config ENABLE_QMC_CALIBRATION
        depends on ENABLE_QMC5883L_SENSOR
        bool "enable or disable calibration"
        default y
        help
            enable or disable sensor module

    config USE_RAW_MAGNETOMETER_DATA
        bool "use raw data or calibrated data"
        default y
        help
            use raw data or calibrated data of measurements
    
    config ENABLE_IMU
        bool "Enable or disable accel and gyro"
        default y
        help
            Enable or disable accel and gyro
    

endmenu


