/ {
    aliases {
        qmc5883l-dev = &qmc5883l0;   /* alias = qmc5883l-dev -> becomes _ in C macros */
        mpu6050-dev = &mpu6050;
        rtc = &ds3231_rtc;
    };
};

&i2c0 {                 /*scl = 27 , sda =26 */
    qmc5883l0: qmc5883l@0d {      /* node-label : node-name */
        compatible = "qmc5883l,sensor";
        reg = <0x0D>;
    };

    mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
	};
};

&i2c1 {
    status = "okay";        /* enable the bus,i2c1 SDA= 30, SCL =31*/
	/*mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
	};*/

    ds3231_mfd: ds3231@68 {
        compatible = "maxim,ds3231-mfd";
        reg = <0x68>;
        status = "okay";

        /* The RTC is now a child of the MFD node */
        ds3231_rtc: rtc {
            compatible = "maxim,ds3231-rtc";
            status = "okay";
            isw-gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        
        /* Optional: Enable the internal temperature sensor */
        ds3231_sensor: sensor {
            compatible = "maxim,ds3231-sensor";
            status = "okay";
        };

    };   

};
